snippet exp "chai expect snippet"
expect(${1:object}).$0;
endsnippet

snippet req "node require" 
$1 = require('$2');$0
endsnippet 

snippet mod "node module" b
(function(){
	"use strict";
	var $0
	;

	module.exports = exports =
})();
endsnippet


